body {
  height: 100vh;
}

.homeDiv {
  height: 100vh;
}
.nearMeDiv {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.title {
  margin-bottom: 10px;
}

footer, #footer {
    width: 100%;
    margin: 0;
  }


/* Media query for small screens (phones) */
/* @media only screen and (max-width: 768px) {
    .container {
      width: 100%; 
      padding: 10px; 
    }
  } */