.vegan-mix {
  display: flex;
  justify-content: space-between;
  /* this might be space-evenly */

  background-color: rgb(255, 255, 255);
  width: 100%;
  font-size: 50px;
  text-align: center;
}

.vegan-mixs {
  justify-content: space-evenly;
  display: flex;
  text-align: center;
  width: auto;
  height: 70%;
}

.vegan-item {
  width: calc(33.33% - 10px);

  border-style: solid;
  border-color: rgb(15, 129, 32);
  background-color: #ffffff;
  /* background-color: #ea9605; */

  /* width: 300px; */
  height: 500px;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow: auto;

}

.vegan-item p {
  font-size: 25px;
}

.vegan-item ul {
  font-size: 25px;
}

.image {
  width: 50%;
  height: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-top: 5%;
}

.background {
  background: #ffffff;
  justify-content: center;
  /* margin-top: 5%; */
}

.background h2 {
  font-size: 55px;
}

.background p {
  text-align: center;
}

.title {
  text-align: center;
  padding-top: 3%;
  font-size: 5rem;
  color: rgb(160, 109, 5);
  font-style: italic;
}

.title-desc {
  font-size: 25px;
}