.vegna-mix {
  display: flex;
  justify-content: space-between;
  /* Adjust as needed */

  background-color: rgb(255, 255, 255);
  width: 100%;
  font-size: 50px;
  text-align: center;
}

.vegan-item {
  width: calc(33.33% - 10px);
  /* Adjust width based on desired layout */
  /* Add margin or padding as needed */

  border-style: solid;
  border-color: rgb(15, 129, 32);
  background-color: #ffffff;
  /* width: 300px; */
  height: 500px;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow: auto;

}

.vegan-item p {
  font-size: 25px;
  /* Apply font-size to <p> elements */
}

.vegan-item ul {
  font-size: 25px;
  /* Apply font-size to <ul> elements */
}

/* .vegan-mix {
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  font-size: 50px;
  text-align: center;
}

.vegan-item {
  border-style: solid;
  border-color: rgb(15, 129, 32);
  background-color: #ffffff;
  width: 300px;
  height: 300px;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow: auto;
} */

.vegan-mix * {
  text-decoration: none;
  color: rgb(179, 128, 8);
  /* color: rgb(206, 10, 10): */
  background-color: rgba(206, 10, 10, 0.979);
}

.image {
  width: 50%;
  height: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-top: 5%;
}

.background {
  background: #ffffff;
  justify-content: center;
  /* margin-top: 5%; */
}

.title {
  text-align: center;
  padding-top: 3%;
  font-size: 5rem;
  color: rgb(160, 109, 5);
  font-style: italic;
}

h2 {
  font-size: 35px;
}

p {
  text-align: center;
}

.title-desc {
  font-size: 25px;
}